name: Calculate MP12 Spelling Quality

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  compute-spelling-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Metrics Repository
        uses: actions/checkout@v4

      - name: Checkout Documentation Repository
        uses: actions/checkout@v4
        with:
          repository: NoTIPswe/RepoDocumentale
          token: ${{ secrets.ORG_GITHUB_TOKEN }}
          path: docs-repo

      - name: Setup Python with Dependencies
        uses: ./.github/actions/setup-python-metric
        with:
          metric-directory: correttezza-ortografica

      - name: Install Typst
        uses: typst-community/setup-typst@v3

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y hunspell hunspell-it

          curl -L -o typstyle https://github.com/typstyle-rs/typstyle/releases/download/v0.14.0/typstyle-x86_64-unknown-linux-musl
          chmod +x typstyle
          sudo mv typstyle /usr/local/bin

          pip install gspread google-auth
          pip install -r docs-repo/notipdo/requirements.txt
          pip install -e docs-repo/notipdo/

          curl -L -o typstyle https://github.com/typstyle-rs/typstyle/releases/download/v0.14.0/typstyle-x86_64-unknown-linux-musl
          chmod +x typstyle
          sudo mv typstyle /usr/local/bin

      - name: Run Script
        env:
          GOOGLE_CREDENTIALS_JSON: ${{ secrets.GOOGLE_CREDENTIALS_JSON }}
          DOCS_REPO_PATH: ./docs-repo
        run: python correttezza-ortografica/correttezza-ortografica.py